commands:
  00_prepare_dir:
    command: sudo mkdir -p /opt/browsermob
  01_install_dependencies:
    command: sudo yum install -y curl
  02_download_bmob:
    command: curl https://github.com/lightbody/browsermob-proxy/releases/download/browsermob-proxy-2.1.4/browsermob-proxy-2.1.4-bin.zip > /opt/browsermob/browsermob.zip
  04_unzip:
    command: unzip -o -d /opt/browsermob/ /opt/browsermob/browsermob.zip
