commands:
  01_install_dependencies:
    command: sudo yum install -y wget
  02_download_phantomjs:
    command: wget https://github.com/lightbody/browsermob-proxy/releases/download/browsermob-proxy-2.1.4/browsermob-proxy-2.1.4-bin.zip
  03_prepare_dir:
    command: sudo mkdir -p /opt/browsermob
  04_unzip:
    command: unzip browsermob-proxy-2.1.4-bin.zip -d /opt/browsermob/
