commands:
  00_prepare_dir:
    command: sudo mkdir -p /opt/chromedriver
  01_install_dependencies:
    command: sudo yum install -y curl
  02_download_phantomjs:
    command: curl -L https://chromedriver.storage.googleapis.com/2.44/chromedriver_linux64.zip > /opt/chromedriver/chromedriver.zip
  04_unzip:
    command: unzip -o /opt/chromedriver/chromedriver.zip -d /opt/chromedriver/
