commands:
  01_install_dependencies:
    command: sudo yum install -y curl
  02_download_phantomjs:
    command: curl https://chromedriver.storage.googleapis.com/2.44/chromedriver_linux64.zip > chromedriver.zip
  03_prepare_dir:
    command: sudo mkdir -p /opt/chromedriver
  04_unzip:
    command: unzip -o chromedriver.zip -d /opt/chromedriver/
