#option_settings:
# #aws:elasticbeanstalk:application:environment:
#   #BUNDLE_WITHOUT: test
#   RACK_ENV: development
#   #RAILS_ENV: development
#   #RAILS_SKIP_ASSET_COMPILATION: true
#   #RAILS_SKIP_MIGRATIONS: true
#   #LOGGING: debug

container_commands:
  01_db_migrate:
    command: rake db:migrate
