files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */30 * * * * root source /opt/elasticbeanstalk/support/envvars && /usr/local/bin/run-cs-sync.sh
            0 0 * * * root source /opt/elasticbeanstalk/support/envvars && /usr/local/bin/run-check-broken-links.sh
            0 * * * * root source /opt/elasticbeanstalk/support/envvars && /usr/local/bin/run-email-feedback.sh
            */1 * * * 1 root touch /var/app/support/cron.log

    "/usr/local/bin/run-cs-sync.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            echo "Syncing with Cloudsearch" | tee /var/app/support/logs/run-cs-sync.log
            cd /var/app/current && bundle exec rake cs:sync_to_cs | tee -a /var/app/support/logs/run-cs-sync.log
            cd /var/app/current && bundle exec rake cs:delete_from_cs | tee -a /var/app/support/logs/run-cs-sync.log
            exit 0

    "/usr/local/bin/run-check-broken-links.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            if [ "$RUN_BROKEN_LINK_CHECKS" == "yes" ]
            then
              echo "Running the check broken links endpoint" | tee /var/app/support/logs/broken_link_check.log
              cd /var/app/current && bundle exec rake housekeeping:run_broken_link_checks | tee -a /var/app/support/logs/broken_link_check.log
            else
              echo "NOT running the check broken links endpoint" | tee /var/app/support/logs/broken_link_check.log
            fi
            exit 0

    "/usr/local/bin/run-email-feedback.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            cd /var/app/current && bundle exec rake housekeeping:email_feedback_records | tee -a /var/app/support/logs/email_feedback_records.log
            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
    install_new_cron:
        command: "crontab /etc/cron.d/mycron"
        leader_only: true
