files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */30 * * * * root /usr/local/bin/run-cs-sync.sh
            0 0 * * 1 root /usr/local/bin/run-check-broken-links.sh

    "/usr/local/bin/run-cs-sync.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            echo "Syncing with Cloudsearch"
            cd /var/app/current && bundle exec rake cs:sync_to_cs
            cd /var/app/current && bundle exec rake cs:delete_from_cs
            exit 0

    "/usr/local/bin/run-check-broken-links.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            echo "Running the check broken links endpoint"
            cd /var/app/current && bundle exec rake housekeeping:run_broken_link_checks | tee /var/app/support/logs/broken_link_check.log
            exit 0


commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
